/*reset*/

*{
    margin: 0;
    padding: 0;
}

/* color de fondo*/
body{
    background-color:white;
}

header h1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 180px;
    font-family: 'Taviraj', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 50px;
}

header nav ul {
    font-family: 'Taviraj', serif;
    font-weight: 300;
}

.carousel-inner{
    max-height: 35rem;
}



/*subtitulo y parrafos index*/

main{
    gap: 8px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto ;
    grid-template-areas:"subtitulo subtitulo"
                        "parrafo-uno amburguesa-uno"
                        "amburguesa-dos parrafo-dos";                             
    font-family: 'Taviraj', serif;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 195px;
    margin-right: 180px;
    
      
}

.subtitulo{
    grid-area: subtitulo;
    font-size: 30px;

}

.parrafo-uno{
    grid-area: parrafo-uno;
    font-style: italic;
    padding: 20px;
    font-size: 20px;
     

}

.parrafo-dos{
    grid-area: parrafo-dos;
    font-style: italic;
    font-size: 20px;
}

.cazuela{     /*img*/
    grid-area: amburguesa-uno;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: auto;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: initial;
    
}

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.empanadas{   /*img*/
    grid-area: amburguesa-dos;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: auto;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: initial;
    
}

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




/* recetas fiestas patrias, subtitulo, ingredientes, preparacion */

main h2{
    font-size: 30px;
}

main h3{
    
    font-size: 25px;
    font-family: 'Taviraj', serif;
    
}

main ul { /* lista ingredientes*/

    display: flex;
    flex-direction: column;
    list-style: circle;
    font-family: 'Taviraj', serif;
    border: 3px #FFB662 solid;
    padding: 25px;
    font-style: italic;
    font-size: 20px;
}

.pino{ /*imagen pino*/
    padding: 10px;
    width: 80%;
    height: auto;
}

main ol { /* lista preparacion */

    list-style: decimal;
    font-family: 'Taviraj', serif;
    padding: 30px;
    margin-right: 5rem;
    font-size: 20px;


}   
    



/* Vocabulario culinario y sobre nosotros*/

.parrafo-tres{ 
    margin-left: 195px;
    margin-right: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Taviraj', serif;
    font-style: italic;
    font-size: 20px;
   
}


.vocabulario{

    display: flex;
    flex-direction: column;
    list-style: circle;
    font-family: 'Taviraj', serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 170px;
    margin-right: 170px;

}



/*pie de pagina*/

footer{
    display: flex;
    justify-content: center;
}

footer h2{
    
    background-color: rgb(219, 203, 150);
    font-family: 'Taviraj', serif;
    font-size:20px;
    width: 350px;
    text-align: center;
    padding: 1px 1px 1px 1px;
    border: 3px solid rosybrown;
   
}


/* contactanos*/

.formulario{
    display: flex;
    flex-direction: column;
    margin-right: 350px;
    font-family: 'Taviraj', serif;
    font-size: 30px;
    font-size: 25px;

}



input{
    height: 40px;
}























/*===================================Mediaqueries==============================================*/

@media screen and (max-width:768px){

    header {
        display: flex;
        flex-direction: column;
    }
    
    
    
    header h1 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
        font-family: 'Taviraj', serif;
        font-style: italic;
        font-size: 35px;
        
    }
    
    header nav ul {
        font-family: 'Taviraj', serif;
        font-weight: 300;
    }


    main{
        gap: 8px;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto;
        grid-template-areas:"subtitulo"
                            "subtitulo"
                            "parrafo-uno" 
                            "amburguesa-uno"
                            "parrafo-dos"
                            "amburguesa-dos";                             
        font-family: 'Taviraj', serif;
        text-align: justify;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 50px;
        margin-right: 50px;
        
          
    }
    
    .subtitulo{
        grid-area: subtitulo;
        font-size: 25px;
    
    }
    
    .parrafo-uno{
        grid-area: parrafo-uno;
        font-style: italic;
        padding: 20px;
        text-align: justify;
       
        
    
    }
    
    .parrafo-dos{
        grid-area: parrafo-dos;
        font-style: italic;
        padding-right: 90px;
        text-align: justify;
    }
    
    .amburguesa-uno{
        grid-area: amburguesa-uno;
        align-items: flex-start;
        padding: 20px;
    
    }
    
    .amburguesa-dos{
        grid-area: amburguesa-dos;
        align-items: flex-end;
        padding: 20px;
        
    
    }
    
    
    
    /* recetas fiestas patrias, subtitulo, ingredientes, preparacion */
    
    main h2{
        font-size: 30px;
    }
    
    main h3{
        
        font-size: 25px;
        font-family: 'Taviraj', serif;
        
    }
    
    main ul { /* lista ingredientes*/

        font-size: 22px;
        list-style: circle;
        font-family: 'Taviraj', serif;
        border-width: 10px;
        border-style: none;
        padding: 85px;
        font-style: italic;
    }
    
    .pino{ /*imagen pino*/
        padding: 10px;
        width: 80%;
        height: auto;
    }
    
    main ol { /* lista preparacion */
    
        list-style: decimal;
        font-family: 'Taviraj', serif;
        padding: 30px;
        margin-right: 5rem;
        font-size: 20px;
    
    
    }

    /* Vocabulario culinario y sobre nosotros*/

.parrafo-tres{ 
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Taviraj', serif;
    font-style: italic;
    font-size: 30px;
    text-align: justify;
   
}


.vocabulario{

    display: flex;
    flex-direction: column;
    list-style: circle;
    font-family: 'Taviraj', serif;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;

}



/*pie de pagina*/

footer{
    display: flex;
    justify-content: center;
}

footer h2{
    
    background-color: rgb(219, 203, 150);
    font-family: 'Taviraj', serif;
    font-size:20px;
    width: 350px;
    text-align: center;
    padding: 1px 1px 1px 1px;
    border: 3px solid rosybrown;
   
}


/* contactanos*/

.formulario{
    display: flex;
    flex-direction: column;
    margin-right: 350px;
    font-family: 'Taviraj', serif;
    font-size: 30px;
    

}



input{
    height: 40px;
}

   
    
}




